h1 {
  font-size: 20px;
}

img {
  width: 200px;
}

html,
body,
#root,
.App {
  height: 100%;
  overflow: auto;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.movie-title {
  /* color: #f50057; */
  font-weight: bold;
  font-size: 35px;
}

/** Carousel **/

.fav-carousel {
  margin-top: 10%;
}

.placeholder-cards {
  height: 296.67px;
  width: 200px;
  /* position: relative; */
  /* width: 200px; */
  /* background-color: #393e46; */
  background-color: rgb(57, 62, 70, 0.5);
  margin-left: 151px;
  opacity: 0.5;
  /* backgroundColor: "#393e46", */
  /* backgroundColor: "#222831", */
}

.MuiSvgIcon-root.placeholder-icon {
  height: 18.5rem;
  width: 6rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
